@model DepartmentDto

<div class="row">
    <h3>Вы точно хотите удалить данные ?</h3>
    <form asp-action="Delete" asp-controller="Department" method="post" class="form-horizontal">
        <input asp-for="Id" type="hidden" />
        <div class="form-group">
            <label asp-for="DepartmentName"></label>
            <div class="col-md-5">
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <div class="col-md-5">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address"></label>
            <div class="col-md-5">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>

        <input class="btn btn-danger" type="submit" value="Удалить" />
        <a asp-action="Index" asp-controller="Department" class="btn btn-secondary">Отменить</a>
    </form>
</div>
